.suggested-video-card {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .suggested-video-card .suggested-video-thumb {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .suggested-video-card .suggested-video-bottomt {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }
  
  .suggested-video-card .suggested-video-bottomt .suggested-video-clogo {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
  }